.posicionExperiencia{
    position: absolute;
    top: 0;
    margin: 100px 0px 20px 0px;
    left: calc(50% - 155px);
}
.contenedor{
    width: 310px;
    .conteFlex{
        margin: 10px;
        background-color: #fff;
        border-radius: 5px;
        border: 1px solid #000;
        display: flex;
        align-items: center;
        h6{
            flex-grow: 1;
            padding: 10px;
        }
        .btn{
            min-width: 82.55px;
        }
    }
}